
.green-text {
  color: var(--grade-accept-green);
}
.yellow-text {
  color: var(--grade-two-week-yellow);
}
.red-text {
  color: var(--grade-four-week-red);
}

/* .shrink {
  transform: scale(0.7);
} */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex_column {
   display: flex;
   flex-direction: column;
}

.width-100 {
  width: 100%;
}

.flex-space_between {
  justify-content: space-between;
}
